<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="style.css">
    <title>Reset Password Successful page</title>
  </head>

  <body>
    <div class="headDiv">
      <div class="mailHead"><img src="./logo.svg"
          alt="logo">HAVEN</div>
    </div>
    <div class="theMain">
      <p class="theName">Hi Rejoice</p>
      <p class="theContent">Your Haven account password has been successfully reset.</p>
      <p class="theContent">Kindly click the link below to proceed.</p>
      <button class="theButton">Login</button>
      <p class="theContent">Best</p>
      <p class="theContent">The Haven Team</p>
    </div>
    <div class="theSect">
      <p>Need help? <a href="">Contact our support team</a> or hit us up on Twitter <a href="">@Haven_HQ</a></p>
      <p>Want to give us feedback? Let us know what you think on our <a href="">Feedback site</a></p>
    </div>
    <footer class="theFooter">
      <div style="justify-content: flex-start;"
        class="mailHead"><img src="./logo.svg"
          alt="logo">HAVEN</div>
      <p>Haven real estate agency</p>
      <p>Addresses</p>
      <p>This email was intended for Rejoice. <a href="">Unsubscribe</a></p>
    </footer>
  </body>

</html>
